
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Comfortaa:wght@300..700&family=Concert+One&family=Darumadrop+One&family=DynaPuff:wght@400..700&family=Fascinate&family=Finger+Paint&family=Francois+One&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Inconsolata:wght@200..900&family=Joti+One&family=Lacquer&family=Lexend+Deca:wght@100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=National+Park:wght@200..800&family=Permanent+Marker&family=Pixelify+Sans:wght@400..700&family=Rock+Salt&family=Schoolbell&family=Sedgwick+Ave+Display&family=Varela+Round&display=swap');

:root{--bg:#eae0bc;
    --card:#dadbbb;
    --muted:#684913;
    --accent:#bc8c7d;
    --glass: #ffffff;
    --green-one: #728143;
    --green-two: #063427;
    --green-one-change: #5e6b35;
    --green-two-change: #0f4f3d;
    --secondary-green: #a4b087;
    --card-bottom:#e0d4bd;
    --header: #d8dfba;
    --nav-brand: #9ba96c;

}
body.dark-mode{--bg:#eae0bc;
    --card:#3f3f35;
    --muted:#c3b49b;
    --accent:#7d4d3f;
    --glass: #ffffff;
    --green-one: #1a2302;
    --green-two: #031f17;
        --green-one-change: #414a22;
    --green-two-change: #0f4f3d;
    --secondary-green: #88946e;
    --card-bottom:#524a3a;
    --header: #5d6538;
    --nav-brand: #fff;

}

    *{
        box-sizing:border-box
    }

    html,body{
        margin:0;
        color:#e6eef6;
        background:linear-gradient(180deg, var(--green-one) 0%, var(--green-two) 60%);
        background-size:cover;
        font-family:"comfortaa" !important;
    }


    .wrap{
        max-width:1100px;
        margin:28px auto;
        padding:20px}

    header{
        display:flex;gap:16px;
        align-items:center;
        margin-bottom:18px;
        color:#fff;
    }

    input {
        color:#fff !important;
        background-color:#ffffff6a !important
    }

    header nav {
        background-color:var(--header);
        padding:20px;
        
    }

    h1{margin:0;
        font-size:20px}

    p.lead{margin:0;
        color:var(--muted);
        font-size:13px}

    .grid{display:grid;
        grid-template-columns:380px 1fr;gap:18px
    }

    .card{
        background:linear-gradient(180deg,var(--card), var(--card-bottom));
        border-radius:30px !important;
        padding:40px;
        box-shadow:0 6px 24px rgba(2,6,23,0.6);
        margin-bottom:20px;
    }

    label{
        display:block;
        font-size:12px;
        color:var(--muted);
        margin-bottom:6px
    }

    input,select,textarea{
        width:100%;
        padding:10px;
        border-radius:8px;
        border:1px solid rgba(255,255,255,0.04);
        background:transparent;
        color:inherit;
        font-size:14px
    }

    .row{
        display:flex;
        gap:8px
    }

    .small{
        width:120px
    }

    button{
        background:var(--accent);
        border:none;
        color:#072028;
        padding:10px 12px;
        border-radius:8px;
        font-weight:600;
        cursor:pointer
    }

    .btn-ghost{
        background:transparent;
        border:1px solid rgba(255,255,255,0.04);
        color:var(--muted)
    }

    .list{
        margin-top:10px;
        max-height:420px;
        overflow:auto
    }
    
    .item{
        display:flex;
        justify-content:space-between;
        padding:8px;
        border-radius:8px;
        margin-bottom:8px;
        background:var(--glass);
        align-items:center
    }

    .muted{
        color:var(--muted);
        font-size:13px
    }

    .recipes{display:grid;
        grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
        gap:10px
    }

    .recipe{padding:10px;
        border-radius:8px;
        background:linear-gradient(180deg,rgba(255,255,255,0.02), rgba(255,255,255,0.01));
    }
    .highlight{
        color:var(--accent);
        font-weight:700
    }

    footer{margin-top:16px;
        color:var(--muted);
        font-size:13px
    }

    /* responsive */
    @media (max-width:880px){
        .grid{grid-template-columns:1fr}.small{width:100px}
    }


    .nav-brand {
        color:var(--nav-brand) !important;
        font-weight:900;
        font-size:45px;
        text-decoration:none;
    
    }

    .link {
        background-color:var(--green-one);
        color:var(--bg);
        padding:5px;
        padding-right:7px;
        padding-left:7px;
        text-decoration:none;
        border-radius:20px;
        transition: all 0.3s ease;
    }
    
    .link:hover {
        background-color:var(--green-one-change);
        color:var(--bg);
        padding:5px;
         padding-right:7px;
        padding-left:7px;
        text-decoration:none;
        border-radius:20px;
        font-weight:bold;
        transform:scale(2)
    }

    .themetoggle {
        position:absolute;
        top:10px;
        right:10px;
    }

    .subheading {
        font-size:20px;
        margin-left:20px;
        color:var(--secondary-green)
    }

    